<template name="gameListItem">   
    <div class="col s3">
        <div class="card small grey lighten-4">
            <div class="card-image">
                <img src="img/baduk2.jpg">
                <span class="card-title red-text text-lighten-1">{{name}}</span>
            </div>
            <div class="card-content">
                <div class = "valign-wrapper">
                    <b class="left-align valign">{{player1}}</b> 
                    <i class="blue-text mdi-action-settings-ethernet small"></i>  
                    <b class="right-align valign">{{player2}}</b>
                </div>
            </div>
            <div class="card-action">
                {{#if myGame}}
                    <a class="blue-text" href="{{pathFor 'game'}}"> <i class="mdi-action-account-circle left"></i> Tu partida</a>
                {{else}} {{#if play}}
                    <a class="green-text" id="playButton" href="{{pathFor 'game'}}#"><i class="mdi-av-play-arrow left"></i> Jugar</a>
                {{else}}
                    <a class="orange-text" href="{{pathFor 'game'}}"><i class="mdi-image-remove-red-eye left"></i>Ver</a>
                {{/if}} {{/if}}
            </div>
        </div>
    </div>
</template>