# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore

Config
.c9
GoProject.sublime-project
GoProject.sublime-workspace
mup.json
settings.json
.idea/
