<template name="chat">
    <div class="row-fluid">
        <div class="col-sm-12">
            <div class="well">
                <p><b>ShadowLink: </b> Te gano!</p>
                <p><b>Raydark: </b>Es imposible ganar a la mano de Dios</p>
                <p><b>ShadowLink: </b> Lo se, te compadezco</p>
                <p><b>Raydark: </b>No me quedan fichas ya ni en el cuenco este</p>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Enviar!</button>
                </span>
            </div>         
        </div>
    </div>
</template>