<template name="players">
    <div class="row-fluid">
        <div class="col-sm-6">
            <div class="panel panel-success text-center">
                <div class="panel-heading">
                    <h8>{{player1}}</h8>
                    {{#if finalized}}
                        {{winner1}}
                    {{/if}}
                </div>
                <div class="panel-body">{{points1}}</div>
            </div>
        </div>
        {{#if player2}}
            <div class="col-sm-6">
                <div class="panel panel-success text-center">
                    <div class="panel-heading">
                        <h8>{{player2}}</h8>
                        {{#if finalized}}
                            {{winner2}}
                        {{/if}}
                    </div>
                    <div class="panel-body">{{points2}}</div>
                </div>
            </div>
        {{/if}}
    </div>
    <div class="row-fluid">
        <div class="col-sm-6">
            <div class="panel panel-default text-center">
                {{#if finalized}}
                    <button type="button" id="surrenderDisable" class="btn btn-default navbar-btn disable"><span
                            class="fui-alert-circle"></span>Rendirse
                    </button>
                {{else}}
                    <button type="button" id="surrender" class="btn btn-danger navbar-btn"><span
                            class="fui-alert-circle"></span>Rendirse
                    </button>
                {{/if}}
                {{#if myTurn and finalized = false}}
                    <button type="button" id="pass" class="btn btn-warning navbar-btn"><span
                            class="fui-arrow-right"></span>Pasar turno
                    </button>
                {{else}}
                    <button type="button" id="passDisable" class="btn btn-default navbar-btn disable"><span
                            class="fui-arrow-right"></span>Pasar turno
                    </button>
                {{/if}}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="alert alert-info text-center" role="alert">
                {{#if finalized}}
                    Partida finalizada
                {{else}}
                    Partida en curso
                {{/if}}
            </div>
        </div>
    </div>
</template>
