<template name="players">
    <div class="row-fluid">
        <div class="col-sm-6">
            <div class="panel panel-success text-center">
                <div class="panel-heading">
                    <h6>ShadowLink</h6>
                </div>
                <div class="panel-body">1350</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-success text-center">
                <div class="panel-heading">
                    <h6>Raydark</h6>
                </div>
                <div class="panel-body">0</div>
            </div>
        </div>
    </div>
</template>