<template name="players">
    <div class="row-fluid">
        <div class="col-sm-6">
            <div class="panel panel-success text-center">
                <div class="panel-heading">
                    <h6>{{player1}}</h6>
                </div>
                <div class="panel-body">{{points1}}</div>
            </div>
        </div>
        {{#if player2}}
        <div class="col-sm-6">
            <div class="panel panel-success text-center">
                <div class="panel-heading">
                    <h6>{{player2}}</h6>
                </div>
                <div class="panel-body">{{points2}}</div>
            </div>
        </div>
        {{/if}}
    </div>
</template>
