<template name="newGame">
    <div class="container">
    	<h4 class = "red-text text-lighten-2"> Nueva Partida</h4>
	    <div class="row">
			<form class="col s12">
				<div class="row">
					<div class="input-field col s12">
						<input id="nombre" type="text" class="validate">
						<label for="nombre">Nombre de la partida</label>
					</div>
          <div class="input-field col s3">
            <h6 class = "red-text text-lighten-2">Tipo de tablero</h6>
            <p>
              <input name="boardType" type="radio" id="big" value="19x19" checked />
              <label for="big">19x19</label>
            </p>
            <p>
              <input name="boardType" type="radio" id="medium" value="13x13" disabled="disabled"/>
              <label for="medium">13x13</label>
            </p>
            <p>
              <input name="boardType" type="radio" id="small" value="9x9" disabled="disabled"/>
              <label for="small">9x9</label>
            </p>
          </div>
          <div class="input-field col s3">
            <input id="komi" type="text" class="validate">
            <label for="komi">Komi (Defecto 6.5)</label>
            <h6 class = "red-text text-lighten-2">Duración de la partida (Min)</h6>
            <p class="range-field">
              <input type="range" id="time" min="1" max="60" />
            </p>
          </div>
				</div>
				<button type="submit" class="btn btn-default navbar-btn">Crear</button>
			</form>
		</div>
	</div>
</template>
