<template name="gameItem">
    <div class="col s3">
      <div class="card text-center grey lighten-4">
        <div class="card-content">
          <span class="card-title red-text text-lighten-1">{{name}}</span>
          <p><canvas class="canvas" id={{id}} width="200" height="200"></canvas></p>
        </div>
        <div class="card-action text-center">
            <div class="row">
                <div class="col s4">
                    <b>{{player1}}</b>
                </div>
                <div class="col s4">
                    vs
                </div>
                <div class="col s4">
                    {{#if player2}}
                        <b>{{player2}}</b>
                    {{else}}
                        -
                    {{/if}}
                </div>
            </div>
            {{#if myGame}}
                <a href="{{pathFor 'game'}}" class="btn-flat blue-text text-lighten-1"><i class="mdi-action-account-circle left"></i> Tu partida</a>
            {{else}} {{#if play}}
                <a id="playButton" href="{{pathFor 'game'}}#" class="btn-flat green-text text-lighten-1"><i class="mdi-av-play-arrow left"></i> Jugar</a>
            {{else}}
                <a href="{{pathFor 'game'}}" class="btn-flat orange-text text-lighten-1"><i class="mdi-image-remove-red-eye left"></i> Ver</a>
            {{/if}} {{/if}}
        </div>
      </div>
    </div>
</template>
