<template name="header">
    <nav class="navbar navbar-inverse navbar-fixed-top" id="topNavbar">
        <div class="container-fluid">
            <nav class="navbar-header">
                <a class="navbar-brand" href="{{pathFor 'topList'}}">GoProject</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                </button>
            </nav>
            <nav class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    {{#if currentUser}}
                        <li><a href="#"><span class="fui-user"></span> {{perfil}}</a>
                        </li>
                        {{#if inGame}}
                            <li><a href="{{pathFor 'game' _id = gameUrl}}"><span class="fui-time"></span> Partida en
                                curso</a>
                            </li>
                        {{else}}
                            <li><a href="#" data-toggle="modal" data-target="#createModal"><span
                                    class="fui-list-large-thumbnails"></span> Nueva Partida</a>
                            </li>
                        {{/if}} {{/if}}
                    <li><a href="{{pathFor 'gameList'}}"><span class="fui-list-columned"></span> Listado de partidas</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#if isNotActiveRoute regex='signIn'}}
                        <li><a href="{{pathFor 'atSignIn'}}" id="nav-signinout">{{signInOut}} </a>
                        </li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </nav>
</template>