<template name="main">
    <div class="section container">
      <div class="card-panel grey lighten-5 text-center">
        <img src="/img/big_logo.png">
        <hr class="soften" />
        <h5>18/03/2015</h5>
        <ul>
          <li><i class="mdi-av-new-releases small"></i><h6>Añadido buscador al listado de partidas</h6></li>
        </ul>
        <hr class="soften" />
        <h5>17/03/2015</h5>
        <ul>
          <li><i class="mdi-av-new-releases small"></i><h6>Añadido el negociado de territorios al final de la partida</h6></li>
          <li><h6>Optimizado drásticamente el recuento de territorios</h6></li>
          <li><h6>Reducido el tamaño de las fichas que indicaban los territorios de cada jugador</h6></li>
        </ul>
      </div>
    </div>
</template>
