<template name="main">
    <div class="section container">
      <div class="card-panel grey lighten-5 text-center">
        <img src="/img/big_logo.png">
        <h5>22/03/2015</h5>
        <ul>
          <li><i class="mdi-av-new-releases small"></i><h6>Añadidos relojes a las partidas. El jugador que agote el tiempo pierde automáticamente.</h6></li>
          <li><h6>Añadido dos filtros de búsqueda en el buscador de partidas</h6></li>
          <li><h6>Ahora se puede si un amigo estan online en el listado de amigos</h6></li>
          <li><h6>Si alguno de tus amigos está en partida, puedes ir directamente a ella desde el listado de amigos</h6></li>
          <li><h6>Ahora se puede acceder al perfil de los amigos desde el listado de amigos</h6></li>
          <li><h6>Al crear la partida se puede elegir el tiempo de duración y el Komi </h6></li>
        </ul>
        <hr class="soften" />
        <h5>19/03/2015</h5>
        <ul>
          <li><i class="mdi-av-new-releases small"></i><h6>Añadida ELO Rating para todas las partidas</h6></li>
          <li><h6>El ELO Rating es visible en el perfil del jugador. Un mayor puntuaje es mejor</h6></li>
        </ul>
        <hr class="soften" />
        <h5>18/03/2015</h5>
        <ul>
          <li><i class="mdi-av-new-releases small"></i><h6>Añadido buscador al listado de partidas</h6></li>
        </ul>
        <hr class="soften" />
        <h5>17/03/2015</h5>
        <ul>
          <li><i class="mdi-av-new-releases small"></i><h6>Añadido el negociado de territorios al final de la partida</h6></li>
          <li><h6>Optimizado drásticamente el recuento de territorios</h6></li>
          <li><h6>Reducido el tamaño de las fichas que indicaban los territorios de cada jugador</h6></li>
        </ul>
      </div>
    </div>
</template>
