<template name="chat">
    <div class="row">
        <div class="col s12">
            <div class="card-panel grey lighten-3" id = "chatWell">
                {{#each lines}}
                    <p><b>{{name}}: </b>{{text}}</p>
                {{/each}}
            </div>
        </div>
        <div class="col s12">
            <div class="input-group">
                <input id="chatText" type="text" class="form-control">
                <span class="input-group-btn">
                    <button id = "btnChat" class="btn btn-default" type="button">Enviar!</button>
                </span>
            </div>
        </div>
    </div>
</template>