<template name="players">
    <div class="row">
        <div class="col s6">
            <div class="card-panel  blue-grey valign-wrapper">
                <i class="left valign">{{> avatar shape = "circle" user=player1User size="medium"}}</i>
                <h5 class="valign white-text">{{player1}}</h5> &nbsp;&nbsp;&nbsp;
                <h5 class="secondary-content valign right-align teal-text text-lighten-3">{{points1}}</h5>
                {{#if finalized}}
                    {{winner1}}
                {{/if}}
            </div>
        </div>
        {{#if player2}}
            <div class="col s6">
                <div class="card-panel blue-grey valign-wrapper">
                    <i class="left">{{> avatar shape = "circle" user=player2User size="medium"}}</i>
                    <h5 class="valign white-text">{{player2}}</h5> &nbsp;&nbsp;&nbsp;
                    <h5 class="secondary-content valign right-align teal-text text-lighten-3">{{points2}}</h5>
                    {{#if finalized}}
                        {{winner2}}
                    {{/if}}
                </div>
            </div>
        {{/if}}
    </div>
    <div class="row text-center">
        <div class="col s12">
            {{#if myGame}}
                {{#if finalized}}
                    <a id="surrenderDisable" class="waves-effect waves-light btn disabled"><span
                            class="fui-alert-circle"></span><i class="mdi-av-new-releases left"></i>Rendir
                    </a>
                {{else}}
                    <a id="surrender" class="waves-effect waves-light btn"><span
                            class="fui-alert-circle"></span><i class="mdi-av-new-releases left"></i>Rendir
                    </a>
                {{/if}}
                {{#if myTurn}}
                    {{#if finalized}}
                        <a id="passDisable2" class="waves-effect waves-light btn disabled"><span
                                class="fui-arrow-right"></span><i class="mdi-av-repeat left"></i>Pasar
                        </a>
                    {{else}}
                        <a id="pass" class="waves-effect waves-light btn"><span
                                class="fui-arrow-right"></span><i class="mdi-av-repeat left"></i>Pasar
                        </a>
                    {{/if}}
                {{else}}
                    <a id="passDisable" class="waves-effect waves-light btn disabled"><span
                            class="fui-arrow-right"></span><i class="mdi-av-repeat left"></i>Pasar
                    </a>
                {{/if}}
            {{/if}}
        </div>
    </div>
</template>
