<template name="players">
    <div class="row">
        <div class="col s6">
            <div class="card-panel  blue-grey valign-wrapper">
                <i class="left valign">{{> avatar shape = "circle" user=player1User size="medium"}}</i>
                <a href="{{pathFor 'profile' _id = player1Id}}"><h5 class="valign white-text">{{player1}}</h5></a> &nbsp;&nbsp;&nbsp;
                <h5 class="secondary-content valign right-align teal-text text-lighten-3">{{points1}}</h5>
            </div>
        </div>
        {{#if player2}}
            <div class="col s6">
                <div class="card-panel blue-grey valign-wrapper">
                    <i class="left">{{> avatar shape = "circle" user=player2User size="medium"}}</i>
                    <a href="{{pathFor 'profile' _id = player2Id}}"><h5 class="valign white-text">{{player2}}</h5></a> &nbsp;&nbsp;&nbsp;
                    <h5 class="secondary-content valign right-align teal-text text-lighten-3">{{points2}}</h5>
                </div>
            </div>
        {{/if}}
    </div>
    <div class="row text-center">
        <div class="col s12">
            {{#if myGame}}
                {{{buttonSurrender}}}
                {{{buttonPass}}}
                {{{buttonConfirm}}}
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col s10">
            <div class="card text-center">
                <h6 class = "teal-text" >{{infoBoard}}</h6>
            </div>
        </div>
        <div class="col s2">
            <div class="card text-center">
                <h6 class="teal-text"><i class="mdi-action-account-child"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{viewers}}</h6>
            </div>
        </div>
    </div>
</template>
