<template name="players">
    <div class="row">
        <div class="col s6">
            <div class="card  blue-grey">
              <i class="left">{{> avatar shape = "rounded" user=player1User size="medium"}}</i>
              <a href="{{pathFor 'profile' _id = player1Id}}">{{player1}}</a><span class="teal-text text-lighten-4 right">{{points1}} ptos</span>
              <h6 class="white-text" id="timer1">20 : 00</h6>
            </div>
        </div>
        {{#if player2}}
            <div class="col s6">
              <div class="card  blue-grey">
                <i class="left">{{> avatar shape = "rounded" user=player2User size="medium"}}</i>
                <a href="{{pathFor 'profile' _id = player1Id}}">{{player2}}</a><span class="teal-text text-lighten-4 right">{{points2}} ptos</span>
                <h6 class="white-text" id="timer2">20 : 00</h6>
              </div>
            </div>
        {{/if}}
    </div>
    <div class="row text-center">
        <div class="col s12">
            {{#if myGame}}
                {{{buttonSurrender}}}
                {{{buttonPass}}}
                {{{buttonConfirm}}}
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col s10">
            <div class="card text-center">
                <h6 class = "teal-text" >{{infoBoard}}</h6>
            </div>
        </div>
        <div class="col s2">
            <div class="card text-center">
                <h6 class="teal-text"><i class="mdi-action-account-child"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{viewers}}</h6>
            </div>
        </div>
    </div>
</template>
