<template name="gameItem">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a>{{name}}</a>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <canvas class="canvas" id={{id}} width="200" height="200"></canvas>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="well well-sm">
                        <p><b>P1: </b>{{player1}}</p>
                        <p><b>P2: </b>{{player2}}</p>
                        <p>{{points1}} - {{points2}}</p>
                        {{#if myGame}}
                        <button onclick="window.location.href='{{pathFor 'game'}}'" type="button" class="btn btn-success">
                          <span class="fui-cmd"></span> Tu partida
                        </button>
                        {{else}} {{#if play}}
                        <button id="playButton" type="button" class="btn btn-primary">
                          <span class="fui-play"></span> Jugar
                        </button>
                        {{else}}
                        <button onclick="window.location.href='{{pathFor 'game'}}'" type="button" class="btn btn-warning">
                            <span class="fui-eye"></span> Observar
                        </button>
                        {{/if}} {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
