<template name="gameItem">
    <div class="share mrl text-center" id="gameItem">
        <h6>{{name}}</h6>
        <hr class="soften" />
        <p><canvas class="canvas" id={{id}} width="200" height="200"></canvas></p>
        <hr/>
        <p><b>{{player1}}</b> vs <b>{{player2}}</b></p>
        <p>{{points1}} <span class="glyphicon glyphicon-flash"></span> {{points2}}</p>
        {{#if myGame}}
            <a href="{{pathFor 'game'}}" class="btn btn-success btn-block btn-large"><span class="fui-cmd"></span> Tu partida</a>
        {{else}} {{#if play}}
            <a id="playButton" href="{{pathFor 'game'}}#" class="btn btn-primary btn-block btn-large"><span class="fui-play"></span> Jugar</a>
        {{else}}
            <a href="{{pathFor 'game'}}" class="btn btn-warning btn-block btn-large"><span class="fui-eye"></span> Ver</a>
        {{/if}} {{/if}}
    </div> <!-- /share -->
</template>
